<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Passenger</title>
</head>

<body>

<h1>Add Passenger</h1>

<form th:action="@{/passengers/save}"
      th:object="${passenger}"
      method="post">

    <label>Name:</label>
    <input type="text" th:field="*{name}">
    <br><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}">
    <br><br>

    <label>Phone:</label>
    <input type="text" th:field="*{phone}">
    <br><br>

    <label>Age:</label>
    <input type="number" th:field="*{age}">
    <br><br>

    <label>Gender:</label>

    <select th:field="*{gender}">

        <option value="">Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>

    </select>

    <br><br>

    <button type="submit">
        Save Passenger
    </button>

</form>

<br>

<a th:href="@{/passengers}">
    Back to Passengers
</a>

</body>
</html>